<div class='row'>
  <div class="col-sm-8.col-sm-offset-2">
    <h2>Créer Un Compte</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" >
       <div class="form-group">

        <label for="email">E-mail</label>
        <input id="email" class="form-control" type="text" formControlName="email">

        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" formControlName="password">

      </div>

      <button class="btn btn-primary" type='submit' [disabled]="signUpForm.invalid"> Créer un compte </button>
    </form>
    <p class="text-danger">{{ messageError }}</p>
  </div>
</div>
