<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1> Enregistrer un nouveau livre</h1>
    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input id="titre" class="form-control" type="text" formControlName="titre">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input id="author" class="form-control" type="text" formControlName="author">
      </div>
      .<div class="form-group">
        <label for="my-input">Ajouter une Photo</label>
        <input id="my-input" class="form-control" type="file" (change)="detectFile($event)" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded"> Image chargé! </p>
      </div>
      <button class="btn btn-success" type='submit' [disabled]='bookForm.invalid ||  fileIsUploading'>Enregistrer </button>
    </form>
  </div>
</div>
